* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgba(203, 203, 204, 0.8);
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.logomalek {
  position: fixed;
  width: 40px;
  height: 40px;
  left: 0px;
  border-radius: 100%;
  margin-left: 30px;
}
.logo {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  margin-left: 60px;
}

.navigation {
  display: flex;
  gap: 20px;
}

.navigation a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  transition: 0.3s;
}

section {
  padding: 100px 200px;
}

.main1 {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(image/shayna-douglas-nOCkBWgsu-c-unsplash.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

.main1 h1 {
  display: block;
  width: fit-content;
  font-size: 2.8em;
  font-weight: 600;
  position: relative;
  color: transparent;
  animation: text_reveal 3s ease forwards;
  animation-delay: 1s;
}

.footer {
  opacity: 0.3;
}
